<!DOCTYPE html>
<html>
<head>
    <title>Weather in {{ weather_data.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="weather-data">
        <h2>Weather in {{ weather_data.name }}</h2>
        <p class="description">{{ weather_data.weather[0].description }}</p>
        <p class="temperature">{{ weather_data.main.temp }}°C</p>
        <p class="humidity">Humidity: {{ weather_data.main.humidity }}%</p>
        <p class="wind-speed">Wind Speed: {{ weather_data.wind.speed }} m/s</p>
        <!-- <form method="POST" action="/">
            <input type="submit" value="Back to City Selection" class="back-button">
        </form> -->
    </div>
</body>
</html>